@media (max-width: 767px) {
  /*　画面サイズが767px以下の場合読み込む　*/
  h1 {
    font-size: 20pt;
  }
  h2 {
    font-size: 18pt;
  }
  h3 {
    font-size: 17pt;
  }
  h4 {
    font-size: 16px;
  }

  .header-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 10px;
  }

  .research .detail {
    display: flex;
    flex-direction: column;
  }

  .list-item {
    flex-direction: column;
    align-items: start;
  }
}
