@media (max-width:767px) {
    /*　画面サイズが767px以下の場合読み込む　*/
    h1 { font-size:20pt;}
    h2 { font-size:17pt;}
    h3 { font-size:14pt;}

    .header-right {
      float: none;
    }

    .header-left {
      float: none;
    }

}
