@media (max-width:767px) {
    /*　画面サイズが767px以下の場合読み込む　*/
    h1 { font-size:20pt;}
    h2 { font-size:17pt;}
    h3 { font-size:14pt;}

    .img {
      width: 50%;
      height: auto;
    }
}

header {
  padding: 2px 10px;
  position: fixed;
  background-color: #FFFDE7;
  width: 100%;
  color: #000000;
  z-index: 1;
  top: 0;
  left: 0;
}

.top-right {
  h2 {margin-top: 0px;}
  p {margin-top: 5px;}
}

.img {
  width: 100%;
  height: auto;
  text-align: center;
}

.top-wrapper {
  margin-bottom: 10px;
}

.background_img {
  margin-top: 10px;
  padding-bottom: 200px;
  background-color: #FFFDE7;
	background-size: 80px 80px;
	background-image:
	 linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
	 linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);
}
