@media (max-width: 767px) {
  /*　画面サイズが767px以下の場合読み込む　*/
  h1 {
    font-size: 20pt;
  }
  h2 {
    font-size: 17pt;
  }
  h3 {
    font-size: 14pt;
  }

  .img {
    width: 50%;
    height: auto;
  }
}

header {
  padding: 5px 10px;
  justify-content: center;
  text-align: center;
  position: fixed;
  background-color: #bbbbbb;
  width: 100%;
  color: #000000;
  z-index: 1;
  top: 0;
  left: 0;
}

.top-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: auto;
  align-items: center;
}

.top-wrapper {
  margin-bottom: 10px;
}

.background_img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
