.name {
  /*background-color: #eeeeee;*/
  /*padding: 10px;*/
  padding-left: 10px;
  margin: 5px;
  /*text-align: center;*/
}

.content1 {
  padding: 10pt;
  border-right: solid 1px;
  border-color: #dcdcdc;
}

.content2 {
  padding: 10pt;
}

header {
  padding: 2px 10px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  color: #191970;
  z-index: 1;
  top: 0;
  left: 0;
}

.header-right {
  float: right;
}

.researcher {
  padding: auto;
}

.header-left {
  float: left;
}

.background_img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
